<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceTestSuite">
  <test thread-count="5" name="SauceTestCases">
    <classes>
       <class name="com.sauce.testcases.PlaceOrder"/>
      <class name="com.sauce.testcases.LoginTest"/>
      <class name="com.sauce.testcases.LogoutTest"/>
     
    </classes>
  </test> <!-- SauceTestCases -->
</suite> <!-- SauceTestSuite -->
